body {
    background: url('bg.jpg');
}

.container {
    width: 750px;
    margin: 10px auto;
	display:block;
	background-color:white;
	border: 2px solid #931e1e;
}
.container > h1{
	color:#931e1e;
	display:relative;
	margin-left: 20px;
}

.titulo{
	color:#931e1e;
	position:relative;
	margin-left: 20px;
	
	
}

.topo > img{
	width:95%;
	margin: auto;
	display: block;
	text-align:center;
	
}

.introducao{
	text-align:left;
	display:block;
	margin-left: auto;
    margin-right: auto;
    width: 44em;
	
}
.lista{
	display: flex;
    justify-content:center;
    align-items: center;
	margin-top:10px;
	margin-bottom:20px;
}
.item{
	width:auto;
	height:auto;
	padding:10px;
	text-align:center;
	margin-left:2px;
	color:white;
	
}

li{
	border-bottom:solid 0.5px #d5d5d5;
	margin:auto;
	border-bottom: 1px solid #ccc;
    padding: 10px;
	width:auto;
	margin-right:40px;
}

.item-1{
	background-color:#3232bf;
}
.item-2{
	background-color:#8b3379;
}
.item-3{
	background-color:#41a326;
}
.item-4{
	background-color:#931e1e;
}
.imagem-topo-esquerda{
	top: 0px;
	left: 0px;
	
}
.imagem-topo-direita {
	top: 0px;
	right:0px;
	
}
.imagem-inferior-esquerda{
	bottom:0px;
	left: 0px;
}

.imagem-inferior-direita{
	bottom:0px;
	right:0px;
	
}

.imagem-absolute {
	
	position: absolute;
	
}
	

